<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  </head>
  <body>
    <nav>
      {% if not is_logged_in %}
      <a href="/login">
        Login
      </a>
      <a href="/register">
        Register
      </a>
      {% else %}
      <a href="/logout">
        Log out
      </a>
      {% endif %}
    </nav>
    <h1>
      Welcome to flask-forum
    </h1>
    {% if is_logged_in %}
    <form
      action="{{ url_for('posts') }}"
      method="POST"
      class="create-post"
    >
      <h2>Create post</h2>
      <input
        name="title"
        type="text"
        placeholder="Title"
        aria-label="Title"
        required
      >
      <textarea
        name="caption"
        cols="30"
        rows="10"
        placeholder="Caption"
        aria-label="Caption"
        required
      ></textarea>
      <button>
        Post
      </button>
    </form>
    {% endif %}
    <div class="recent-posts">
      <div class="header">
        <h2>
          Recent posts
        </h2>
      </div>
      <div class="content">
        {% for post in posts %}
        <p>
          {{ post.to_dict()['title'] }}
        </p>
        <p>
          {{ post.to_dict()['caption'] }}
        </p>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
